@media screen and (max-width: 1280px) {
  .inicio_column_1 {
    margin-top: 5.4rem;
  }
  .inicio_column_1 .Titulo_1 h1 {
    font-size: 3rem;
  }
  .inicio_column_1 .Titulo_1 h5 {
    font-size: 1.3rem;
  }
  .card_1 {
    width: 9rem;
  }
  .invitacion .titulo-2 {
    font-size: 2rem;
  }
  .contacto input {
    height: 30px;
    width: 400px;
  }

  .contacto textarea {
    height: 90px;
  }

  .descubre_1 .derecha {
    align-self: center;
    display: block;
  }

  .descubre_1 .abajo {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .inicio_column_1 .Titulo_1 h1 {
    font-size: 2.5rem;
  }
  .inicio_column_1 .Titulo_1 h5 {
    font-size: 1.1rem;
  }
  .card_1 {
    width: 7rem;
  }
  .card_1 h3 {
    font-size: 0.8rem;
  }
  .descubre_1 .derecha {
    align-self: center;
    display: block;
  }

  .descubre_1 .abajo {
    display: none;
  }
  .descubre_1 h1 {
    font-size: 1.5rem;
  }
  .btn-financiate {
    height: 60px;
  }
  .nosotros_column_2 {
    margin-right: 0;
    padding-right: 2rem;
  }
  .servicios_card {
    width: 95%;
    padding-left: 2rem;
  }
  .wrapper-for-arrows {
    width: 70%;
  }
  .invitacion {
    padding: 3em 3em 3em 6em;
  }
  .footer-logo img {
    margin: 0;
  }
  
}

@media screen and (max-width: 768px) {
  .inicio_column_1 {
    width: 60%;
  }
  .inicio_column_1 .Titulo_1 h1 {
    font-size: 1.7rem;
  }
  .inicio_column_1 .Titulo_1 h5 {
    font-size: 0.9rem;
  }
  .inicio_column_2 img {
    width: 75%;
    height: auto;
  }
  .card_1 {
    width: 4.6rem;
    height: 4.6rem;
    aspect-ratio: 1/1;
  }
  .card_1 img {
    margin-bottom: 0.2rem;
  }
  .card_1 h3 {
    letter-spacing: 0.1em;
    font-size: 0.6rem;
  }
  .descubre_1 h1 {
    font-size: 1rem;
  }
  .btn-financiate {
    height: 40px;
  }
  .creacion,
  .crecimiento,
  .nuevas_alianzas,
  .financiate,
  .que_nos_espera {
    flex-direction: column;
  }
  .card_2 {
    width: 130px;
  }
  .historia_descripcion_1 {
    border-radius: 100px;
  }

  .servicios_card {
    flex-direction: column;
  }
  .card_3 {
    flex-direction: column;
    align-self: center;
    width: 75%;
  }
  .footer {
    flex-direction: column;
    height: auto;
    padding-bottom: 5%;
  }
  .invitacion {
    width: 100%;
  }
  .contacto {
    width: 100%;
  }
  .contacto input {
    width: 300px;
  }
  .footer-quick-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-links {
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .inicio_column_1 .Titulo_1 h5 {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 576px) {
  .inicio {
    height: auto;
  }
  .inicio_column_2 {
    display: none;
  }
  .inicio_column_1 {
    padding-top: 10%;
    width: 100%;
  }
  .cards {
    align-items: center;
    flex-direction: column;
  }
  .card_1 {
    width: 8rem;
    height: 8rem;
    aspect-ratio: 1/1;
  }
  .card_1 h3 {
    font-size: 0.8rem;
  }
  .descubre {
    margin-top: 4%;
    flex-direction: column;
    justify-content: center;
  }
  .descubre_1 {
    flex-direction: column;
    text-justify: center;
  }
  .descubre_1 .derecha {
    display: none;
  }
  .descubre_1 h1 {
    font-size: 2rem;
    align-items: center;
    flex-direction: column;
  }
  .descubre_1 .abajo {
    align-self: center;
    display:flex
  }
  .btn-financiate {
    height: 60px;
  }
  .nosotros_column_1 {
    display: none;
  }
  .nosotros_column_2 {
    width: 900%;
    margin-left: 60px;
  }
  .historia_descripcion_1 {
    flex-direction: column;
  }
  .contacto {
    padding-left: 68px;
  }
}
@media screen and (max-width: 375px) {
  .invitacion {
    padding-left: 68px;
  }
  .invitacion .titulo-2 {
    font-size: 1.3rem;
  }
  .contacto {
    width: 30px;
  }
  .contacto input {
    width: 200px;
  }
}
@media screen and (max-width: 320px) {
  .inicio_column_1 .Titulo_1 h1 {
    font-size: 1.5rem;
  }
  .inicio_column_1 .Titulo_1 h5 {
    font-size: 0.65rem;
  }
  .nosotros {
    padding-left: 20px;
  }
  .nosotros_column_2 .descripcion p {
    font-size: 14px;
    letter-spacing: -0.05em;
  }
  .historia_descripcion p {
    letter-spacing: -0.05em;
    font-size: 13px;
  }
  .card_3 {
    flex-direction: column;
    align-items: center;
  }
  .servicios-boton button {
    font-size: 0.7rem;
  }
  .clientes {
    padding-left: 50px;
  }
  .wrapper-for-arrows {
    width: 75%;
  }
  .invitacion-3 {
    height: 40px;
  }
}
